*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgba(0, 200, 255, 0.293);
    color: rgba(45, 45, 45, 0.932);
}

.container{
    max-width: 30rem;
    /* max-height:; */
    margin: auto;
    margin-top: 10%;
    border: none;
    border-radius: 10px;
    padding:1rem;
    text-align: center;
    background-color: #00aeff9e;
    box-shadow: 1px 3px 20px rgb(23, 88, 173);
}

#header{
   padding: 1.5rem ;
   font-size: 2.2rem;
   line-height: 4rem;
}

#userInput{
    border: none;
    border-radius: 5px;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    width: 8rem;
}


#submitBtn{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    background-color:#00aeff9e ;
    transition-duration: 200ms ;
    box-shadow: 1px 2px 8px rgb(4, 72, 160);
}

#submitBtn:hover{
    background-color: #0d96d5;
    color: aliceblue;
}